*{
	margin: 0;
	padding: 0;
}
body,html{
	background: #EFEFF4;
}
.nav{
	height:1.162162rem;
	text-align: center;
	position: fixed;
	top: 1px;
	left: 0px;
	right: 0px;
	display: flex;
	line-height: 1.189189rem;
	justify-content: space-between;
	background: #FFFFFF;
	z-index: 9999999999999;
	border-bottom: 0.027027rem solid #CCCCCC;
}
.left{
	font-size:0.48rem;
	padding-left:0.405405rem;
}
.center{
	font-size:0.48rem;
	display: inline-block;
}
/*============================================*/
.main{
	background: #f0f0f0;
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	border-bottom: 2px solid #FF9D92;
}
.Btop{
	width: 100%;
	height: 117px;
	background: #FFFFFF;
	box-sizing: border-box;
	padding-left: 0.54054rem;
	margin-bottom: 0.69rem;
}
.Btop .tital{
	color: #030303;
    font-size: 0.42666rem;
    line-height: 0.58666rem;
    text-align: left;
    padding-top: 5px;
}
.Btop .jia .price{
	color: #FF2D55;
	height: 25px;
	display: inline-block;
	font-size:0.729729rem;
}
.Btop .jia .zhi{
	color: #FF2D55;
	display: inline-block;
	font-size: 0.945945rem;
	height: 25px;
	font-weight: bolder;
}
.Btop .kuaidi{
	font-size: 0.32rem;
	color: #9B9B9B;
	height: 20px;
}
.Btop .kuaidi span{
	padding-left: 10px;
}
/*==========================================*/

/*=================================*/
.g-list{
	box-sizing: border-box;
	padding: 0rem 0.405405rem 0.405405rem 0.405405rem;
	background: #FFFFFF;
	margin-top: 0.405405rem;
}
.g-list ul li div{
	font-size: 0.432432rem;
	display: inline-block;
}
.g-list ul li{
	height: 1.216216rem;
}
.g-list .l1 .field{
	color: #9B9B9B;
	line-height:1.216216rem;
}
.g-list .l1 .omit{
	border-bottom: 0.027027rem solid #DADADD;
	color: #030303;
	margin-left: 0.405405rem;
	padding-bottom: 0.135135rem;
}
.g-list .l1 i{
	line-height: 1.891891rem;
	font-size: 0.432432rem;
	float: right;
	color: #D4D4D4;
	margin-left: 20px;
}
.g-list .l2{
	line-height:1.216216rem;
}
.g-list .l2 .field{
	color: #9B9B9B;
}
.g-list .l2 .omit{
	color: #9B9B9B;
	margin-left: 0.405405rem;
}
/*=================================*/
.tuodong{
    text-align: center;
    line-height: 1.378378rem;
    font-size: 0.32rem;
    color: #494949;
    background: #f0f0f0;
    padding-bottom: 2rem;
}
.tuodong p{
	height: 1.405405rem;
}
.tuodong .Bnav{
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
}
.tuodong .Bnav ul{
	float: left;
	text-align: center;
	line-height:1.054054rem;
}
.tuodong .Bnav ul a{
	display: inline-block;
	width: 5rem;
	height: 1.054054rem;
	text-align: center;
	color: #474747;
	line-height: 1.054054rem;
}
/*================tab================*/
.jieshao{
	margin-top:0.027027rem;
	height: 100px;
	width: 10.135135rem;
}
.jieshao .tupian img{
	width: 10rem;
	height: 7.918918rem;
}
.canshu .g-parlist{
    list-style: none;
    margin: 0;
    padding: 0;	
}
.canshu .g-parlist li{
	line-height: 1.2rem;
    font-size: 0.37333rem;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}
.canshu .g-parlist li>div:first-child{
	width: 2.98666rem;
    padding-left: 0.37333rem;
    line-height: 1.2rem;
    color: #9B9B9B;
    float: left;
    text-align: left;
}
.canshu .g-parlist li>div:last-child {
    color: #030303;
    line-height: .6rem;
    width: 9.459459rem;
    padding: 0.32rem;
    text-align: left;
    font-size: 0.37333rem;
}
/* ========================== */
#box{
	position: fixed;
	bottom: 0.02rem;
	width: 10rem;
	height: 1.3rem;
	display: flex;
	background: #F0F0F0;
	justify-content: space-between;
}
#box .left{
	width: 1.86rem;
	height: 1.2rem;
	background: #F0F0F0;
	position: relative;
}
#box .left .a{
	position: absolute;
	left: 0.72rem;
    top: -0.18rem;
	min-width: 0.1rem;
	min-height: 0.05rem;
	text-align: center;
	border-radius: 0.8rem;
	background: red;
}
#box .left i{
	
}
#box .left .b{
	display: inline-block;
	color: #757575;
}
#box .center{
	width: 4.08rem;
	height: 1.2rem;
	text-align: center;
	line-height:1.2rem;
	background: #FE8604;
	color: #F5F5F5;
}
#box .right{
	width: 4.08rem;
	height: 1.2rem;
	text-align: center;
	line-height:1.2rem;
	color: #F5F5F5;
	background: #FF3C25;
}
/*  ============遮罩==================*/
#bb{
	z-index: 999999;
}
.img{
	width: 2.56rem;
	height: 2.16rem;
	position: fixed;
	top: 7.01rem;
    left: 0.29rem;
}
.ifcon{
	width: 400px;
	height: 50px;
	font-size: 0.26rem;
	padding-left: 100px;
}
.ifcon .price{
	color: #FF2D55;
}
.prodspec{
	height: 8.13rem;
	width: 100%;
	padding-top: 40px;
}
.fapiao{
	width: 150px;
	height: 20px;
	margin-bottom: 0.13rem;
	border: 1px solid red;
}
.number{
	padding-top: 10px;
	position: relative;
}
.number .numbox button{
	width: 0.8rem;
    height: 1.06rem;
}
.number .numbox .mui-input{
	width: 2.64rem;
    height: 1.01rem;
}
.kucun{
	width: 5rem;
	height: 1.01rem;
	margin-top: 0.26rem;
}
.shuliang{
	position: absolute;
	right: 1.25rem;
    top: 0.56rem;
}
.jiaru{
	width: 4.96rem;
	height: 1.2rem;
	text-align: center;
	line-height:1.2rem;
	background: #FE8604;
	color: #F5F5F5;
	position: absolute;
	bottom: 1px;
	left: 1px;
}
.goumai{
	width: 4.96rem;
	height: 1.2rem;
	text-align: center;
	line-height:1.2rem;
	color: #F5F5F5;
	background: #FF3C25;
	position: absolute;
	bottom: 1px;
	right: 1px;
}