body{
	background: #F5F5F5;
}
.reg header{
	background: #fff;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #F0F0F0;
	font-size: .4rem;
	line-height: 1.17333rem;
	height: 1.17333rem;	
	margin-bottom: 10px;
	padding:0 20px;
}
.reg header p{
	width:325px;
	text-align:center;
}
.reg header i{
	color: #808185;
    font-size: .48rem;

}
.reg .user_main ul{
	background: #fff;
	margin-bottom:10px;
	font-size: .48rem;
	padding:0 0 0 20px;
		
}
.reg .user_main ul li{
	height: 1.17333rem;
	display: flex;
}
.reg .user_main ul li i{
	color:#ccc;
	margin:0 10px 0 0;
	line-height: 1.17333rem;
}
.reg .user_main ul li .input_box{
	border-bottom: 1px solid #F0F0F0;
	position:relative;
}
.reg .user_main ul li input{
	border: none;
	line-height: 1.17333rem;
	width:320px;
	padding-left:9px;
}
.reg .user_main ul li span{
	position: absolute;
	top:-1px;
	right:0;
	display: block;
	width:100px;
	height:44px;
	line-height: 44px;
	text-align: center;
	background: #BDBDBD;
	font-size:.35rem;
	color:#fff;
}
.reg .user_main ul li span{

}
.reg .user_main ul li #userCode{
	border-bottom:none;
	width:325px;
}
.reg .user_main .btn_box{
	text-align: center;
}
.reg .user_main .btn_box .reg_btn{
	border:1px solid #BDBDBD;
	border-radius:5px;
	background: #BDBDBD;
	width: 9.28125rem;
    height: 1.234375rem;
    
    font-size: .46875rem;
    color: #FFF;
}